<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FirstServlet</servlet-name>
  	<display-name>FirstServlet</display-name>
  	<description></description>
  	<servlet-class>com.brytcode.sampleweb.FirstServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.brytcode.sampleweb.RegisterForm</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterEmp</servlet-name>
  	<display-name>RegisterEmp</display-name>
  	<description></description>
  	<servlet-class>com.brytcode.sampleweb.RegisterEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestServlet</servlet-name>
  	<display-name>TestServlet</display-name>
  	<description></description>
  	<servlet-class>com.brytcode.sampleweb.TestServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchEmpServlet</servlet-name>
  	<display-name>FetchEmpServlet</display-name>
  	<description></description>
  	<servlet-class>com.brytcode.sampleweb.FetchEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterEmp</servlet-name>
  	<url-pattern>/empregistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestServlet</servlet-name>
  	<url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchEmpServlet</servlet-name>
  	<url-pattern>/empdetails</url-pattern>
  </servlet-mapping>
</web-app>
